.component {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.5);

  .window {
    width: 400px;
    height: 200px;
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 200px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: #3D3E41;

    .title {
      font-weight: 300;
    }

    .question {
      font-size: 20px;
      font-weight: 300;

      div {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .littleWarning {
      color: rgb(194, 194, 194);
    }

    .buttons {

      display: flex;
      justify-content: space-around;

      button {
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
      }

      & .cancel {
        background-color: rgb(42, 140, 252);
        color: white;

        &:hover {
          background-color: rgb(22, 129, 252);
        }
      }
  
      & .delete {
        padding: 0;
        color: rgb(248, 116, 116);

        &:hover {
          color: red;
        }
      }
    }

  }

}

