.component {
  padding: 60px;
  width: 100%;
  min-width: 300px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 100px;
  grid-auto-flow: dense;
  justify-content: center;
 
}