  .table {
    border: 1px solid #eee;
    width: 100%;
    table-layout: unset;
    color: #3D3E41;

    & th {
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }

    & td {
      padding: 20px 40px;
      border: 1px solid #eee;
      text-align: left;
      min-height: 74px !important;
    }

    & tbody tr {
      height: 76px;
    }
    
    & tbody tr:nth-child(odd) {
      background: #fff;   
    }

    & tbody tr:nth-child(even) {
      background: #F7F7F7;
    }

    .editField {
      width: 100px;
    }

    .deleteField {
      width: 138px;
    }

    .positionField {
      width: 15%;
      padding: 10px;
    }

    .edit {
      
      .editIcon {
        width: 20px;
        height: 20px;
        fill: #b5b3b6;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          fill: #3D3E41;
          transition: 0.2s ease;
        }
      }
    }

    .delete {
      text-align: center;

      .fired {
        color: red;
      }

      .deleteIcon {
        width: 25px;
        height: 30px;
        fill: #fca8a8;
        cursor: pointer;
        transition: 0.2s ease;
        
        &:hover {
          fill: red;
          transition: 0.2s ease;
        }
      }

    }
  }

