.component {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 800px;
    box-shadow: 0px 0px 16px -4px rgba(34, 60, 80, 0.2);
    border: none;

    &:hover {}

    .header {
      text-align: center;
      margin: 40px;
      margin-top: -30px;
      color: #303236;
    }

    .form {
      text-align: center;
    }

    .select {
      width: 300px;
      height: 40px;
      border: none;
      outline: none;
      background-color: white;

      & > div {
        border-radius: 0;
      }
    }

    .validate {
      width: 280px;
      height: 40px;
      border: none;
      border-bottom: 2px solid #d4d4d4;
      outline: none;
      margin-top: 50px;
      padding-left: 20px;
      font-size: 16px;
    }

    .validate:hover {
      border: none;
      border-bottom: 2px solid #a3a5a7;
    }

    .validate:focus {
      border: none;
      border-bottom: 2px solid #2588FA;
    }

    .validate::placeholder {
      display: block;
      color: #a0a0a0;
    }

    .button {
      margin-top: 50px;
      width: 600px;
      height: 40px;
      border: none;
      background-color: #2588FA;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.2s ease background-color;
    }

    .button:hover {
      background-color: #005FFA;
      transition: 0.2s ease background-color;
    }
  }
}