*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,
    "Lexend",
    "Roboto",
    sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
img,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
