*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303236;
  }

  &::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
  }
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
img {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#root {
  height: 100vh;
}