.component {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  width: 100%;

  .wrapper {
    width: 45%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3D3E41;
    
    & .title {
      font-weight: 300;
      width: 100%;
      text-align: center;
    }
    
    & div {
      width: 100%;
      // min-width: 580px;
      // max-width: 580px;
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: flex-end;
    }

    label {
      min-width: 140px;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
    
    & input[type="text"] {
      font-weight: 600;
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      border-bottom: 2px solid #d4d4d4;
      background-color: #f5f5f5;
      margin-left: 40px;
      padding-left: 5px;
      color: #3D3E41;
      
      &:hover {
        border: none;
        border-bottom: 2px solid #a3a5a7;
      }

      &:focus {
        border: none;
        border-bottom: 2px solid #2588FA;
      }
    }

    .radioContainer > div {
      justify-content: space-between;
    }

    .radioContainer > div  div{
      height: 60px;
    }

    .radioContainer > div > div:first-child {
      margin-right: 40px !important;
    }

    .radioButton {
      width: 25px;
      height: 25px;
      background-color: red;
      cursor: pointer;
    }

    .editButton {
      width: 100%;
      border: none;
      color: white;
      background: #2A90F8;
      padding: 10px 60px;
      cursor: pointer;

      &:hover {
        background:#0881fa;
      }
    }

  }
}
