.component {
  min-width: 250px;
  max-width: 400px;
  // height: 300px;
  padding: 10px;
  color: #323237;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;

  .preview {
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
  }

  .complectation {
    margin: 0 auto;
    font-weight: 300;
  }

  .cardHeader {
    display: flex;
    justify-content: center;
    font-size: 20px;

    & .model {
      font-weight: 300;
      font-size: 26px;
    }
  }

  .year {
    font-size: 12px;

    span {
      font-size: 18px;
    }
  }

  .cardBottom {
    text-align: center;
    font-size: 18px;
    color: #919191;
    display: flex;
    justify-content: space-between;

    .colors {
      width: 90px;
      display: flex;
      justify-content: space-between;
    } 

    .color {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &.black {
        background-color: black;
      }

      &.grey {
        background-color: grey;
      }

      &.white {
        background-color: ivory;
      }
    }
  }

}